<%=layout("/layouts/boilerplate")%>

    <body>
        <div class="row mb-3 mt-4">
            <div class="col-8 offset-3">
                <h2>
                    <%=listing.title%>
                </h2>
            </div>
            <div class="col-6 offset-3">
                <div class="card card-listing">
                    <img src="<%=listing.image%>" class="card-img-top" alt="listing-image">
                    <div class="card-body">
                        <p class="card-text">
                            Owned by <b><%=listing.owner.username%></b> <br>
                            <%=listing.description%>
                                    <br>
                                <i style="font-weight: 600;"> &#x20B9;<%=listing.price.toLocaleString("en-IN")%></i><br>
                                <%=listing.location%><br>
                                    <%=listing.country%><br>
                        </p>
                    </div>
                </div>
            </div>
            <% if(currUser && listing.owner._id.equals(currUser._id)){%>
            <div class="row mb-5">
                <div class="col-md-1 offset-3 mb-2">
                    <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark edit-btn"">Edit</a>
                </div>
                <div class=" col-md-1 offset-3 offset-md-0">
                        <form action="/listings/<%=listing._id%>?_method=delete" method="post">
                            <button class="btn btn-dark">Delete</button>
                        </form>
                </div>
            </div>
            <%}%>
            <% if(currUser){%>

            <div class="col-6 offset-3 mb-3">

                <h4>Leave a review</h4>
                <form action="/listings/<%=listing._id%>/reviews" method="post" class="needs-validation mb-5" novalidate>
                    <!-- <div class="mb-2">
                        <label for="rating" class="form-lable">
                            Rating
                        </label>
                        <input type="range" id="rating" min="1" max="5" name="review[rating]" class="form-range">
                    </div> -->
                    <div class="mb-2">
                        <label for="rating" class="form-lable">Rating </label>
                    <fieldset class="starability-heartbeat">
                       
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing" >5</label>
                      </fieldset>
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-lable">Comment</label>
                        <textarea name="review[comment]" id="comment" cols="30" rows="4" class="form-control"
                            required></textarea>
                        <div class="invalid-feedback">
                            Please give some comment
                        </div>
                    </div>
                    <button class="btn btn-outline-dark">Submit</button>

                </form>
                <%}%>

              <hr  class="border border-primary border-2 opacity-75">
                <h4><b>All reviews</b></h4>
                <div class="row">
                    <% if (listing.reviews.length === 0) { %>
                        <div class="col-12">
                            <div class="alert alert-info text-center">
                                No reviews yet. Be the first to review!
                            </div>
                        </div>
                    <% } else { %>
                        <% for (let review of listing.reviews) { %>
                            <div class="card mb-3 col-md-5 ms-md-3 mb-md-3">
                                <div class="card-body">
                                    <h5>@<%= review.author.username %></h5>
                                    <p class="card-text"><%= review.comment %></p>
                                    <p class="card-text"><%= review.rating %></p>
                                    <p class="starability-result" data-rating="<%= review.rating %>"></p>
                                </div>
                                <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=delete" method="post">
                                    <button class="btn btn-sm btn-dark mb-2 mt-2">Delete</button>
                                </form>
                            </div>
                        <% } %>
                    <% } %>
                </div>
                
            </div>

        </div>


    </body>